.history-container {
    .history-title {
        font-size     : 15px;
        margin        : 15px 0;
        text-align    : center;
        text-transform: uppercase;
        font-weight   : 600;
    }

    .history-body {
        padding: 0 20px;

        .table-history {
            table {
                width: 100%;
            }

            table,
            th,
            td {
                border         : 1px solid black;
                border-collapse: collapse;
            }

            th,
            td {
                padding   : 5px;
                text-align: left;
                border    : 1 px solid black;
            }

            button {
                border : none;
                outline: none;
                cursor : pointer;
            }

            .history-btn-confirm {
                margin-right : 10px;
                height       : 30px;
                border-radius: 3px;
                background   : orange;
            }

            .history-btn-receipt {
                height       : 30px;
                border-radius: 3px;
                background   : #39dca0;
            }
        }
    }
}